ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vh;
}

.Card {
  margin: 5px;
}

.PackInfo {
  margin-top: 10px;
  color: white
}

.PackButtons {
  margin: 5px;
}

.DraftCardsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  color: white;
}

.HighlightCard {
  border: 1pt solid gold;
}

.SelectedCardsContainer {
  background-color: white;
}